 //覆盖一些element-ui样式
 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 } //暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
 .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   margin: 0 auto;
 } //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 } // 侧边栏收缩箭头
 .el-submenu__icon-arrow {
   right: 8px;
   margin-top: -5px;
 }

 .el-card__body {
   padding: 0;
 }

 .el-card__header {
   padding: 12px 20px;
 }

 .el-table__header thead tr th .cell {
   color: #1f2d3d;
 }

 .el-table td {
   padding: 9px 0;
 }

 .el-dialog__body {
   padding: 20px 20px;
 }
